<strong>فهرست تعدادی از محصولات تولیدی این شرکت :</strong>
<br><br>
<ul>
  <li>ایستگاههای هیدروکلیماتولوژی با امکان ثبت و انتقال اطلاعات به صورت خودکار</li><br>

  <li>ایستگاههای هواشناسی سینوپتیک با امکان ثبت و انتقال اطلاعات به صورت خودکار</li><br>

  <li>ایستگاههای پتانسیل سنجی باد با امکان ثبت و انتقال اطلاعات به صورت خودکار با دکلهای مرتفع</li><br>

  <li>ایستگاههای مانیتورینگ فرودگاهی با امکان اندازه گیری و نمایش پارامترهای محیطی مورد نیاز در برج مراقبت فرودگاهها</li><br>

  <li>ایستگاه های باران سنج خودکار</li><br>

  <li>سنسور سرعت باد ( توضیحات بیشتر ... )</li><br>

  <li>سنسور جهت باد</li><br>

  <li>سنسور دمای هوا</li><br>

  <li>سنسور رطوبت هوا</li><br>

  <li>سنسور فشار هوا</li><br>

  <li>سنسور باران سنج Tipping Bucket</li><br>

  <li>سنسور تشعشع خورشیدی ( المان اصلی این سنسور ساخت کمپانی Kipp & Zonen  می باشد .)</li><br>

  <li>سنسور دمای اعماق خاک</li><br>

  <li>پانلهای نمایشگر هواشناسی از 2 تا 5 کاناله</li><br>

  <li>دیتالاگر 4 و 8 و 16 کاناله هواشناسی Zero Power  </li><br>

  <li>دیتالاگر 16 کاناله دوبل هواشناسی ( Dual Sampling and Recording )</li><br>

  <li>انواع مبدلهای سیگنالی و ارتباطی  ( to 20 mA , 0-1 V , 0-5 V , Frequency , Rs 232 to Rs 422 ل4)</li><br>

  <li>نمایشگر های یک کاناله آلارم دار</li><br>

  <li>نرم افزار مانیتورینگ هواشناسی ( Visual Monitoring  )</li><br>

  <li>انواع دکلهای هواشناسی ، اسکرین ، تشت تبخیر و سایر ملحقات</li><br>
</ul>